[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
jupyterlab = "*"
tqdm = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.11"
